*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
}

header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #780000;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fdf0d5;
}

.footer-sadrzaj {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-sadrzaj h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-sadrzaj p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 19px;
}
.socijalne-mreze {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.socijalne-mreze li {
  margin: 0 9px;
}

.socijalne-mreze a {
  text-decoration: none;
  color: #fdf0d5;
}

.socijalne-mreze a i {
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socijalne-mreze a:hover i {
  color: black;
}

.donji-footer {
  background-color: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.donji-footer p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.donji-footer span {
  text-transform: capitalize;
  opacity: .4;
  font-weight: 200;
}

/* ANIMACIONI NASLOV */
.glavni-naslov {
  position: absolute;
  left: 300px;
  top: 100px;
  font-size: 40px;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 10px antiquewhite, 0 0 5px #780000;
}

.fit4life {
  color: #780000;
  font-size: 95px;
}

/* KRATAK OPIS F4L */
.drugi-naslovF4L {
  text-align: center;
  position: relative;
}

.kratak-opisF4L {
  color: antiquewhite;
  line-height: 40px;
  position: absolute;
  top: 260px;
  left: 30%;
}

.kratak-opisF4L h2 {
  font-size: 45px ;
  text-shadow: 3px 3px 10px black; 
  
}

.kratak-opisF4L p {
  font-size: 20px;
  text-shadow: 3px 3px 10px black; 
}

.link-galerija {
  position: absolute;
  top: 375px ;
  left: 46%;
  background-color: #780000;
  opacity: .7;
  border: 3px groove black;
  border-radius: 3px 14px;
  padding: 15px;
  letter-spacing: 2px;
  box-shadow: 2px 2px 10px black;
}

.link-galerija p a {
  text-decoration: none;
  color: antiquewhite;
}

.link-galerija p a:hover {
  font-style: italic;
  text-shadow: 1px 1px 2px black, 0 0 10px antiquewhite, 0 0 5px #780000;
}

.link-galerija:hover {
  opacity: .95;
}


/* PERSONAL TRAINER */
.personal-trainer {
  width: 100%;
  height: 450px;
  background-image: url('slike/personal-trainer-3.jpg');
  background-position: left;
  color: white;  
  margin: 40px auto;
}

.personal-txt {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 53px;
}
.personal-txt h3 {
  width: 500px;
  margin: 0px auto;
  font-size: 28px;
  padding-bottom: 15px;
  border: 3px solid #780000;
  background-color: rgba(31, 29, 29, 0.7);
  padding: 3px;
  margin-bottom: 13px;
}

.TXT {
  margin: 30px 0px;
}


/* APLICATION */
.aplication {
  margin: 40px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.aplication img {
  box-shadow: 1px 1px 10px black, 0 0 10px antiquewhite, 0 0 5px #780000;
  border-radius:  16px;
  margin-right: 27px;
  background-color: black;
}

.text-app {
  padding: 18px;
}

.text-app h3 {
  font-size: 30px;
  color: #780000;
}

.text-app .oneP {
  font-size: 18px;
  font-weight: bold;
}


/* CENE */
.heading3 {
  font-size: 400;
  font-weight: 200;
  border: 1px solid #780000;
  margin-bottom: 3px;
}

.deoJedan {
  margin: 0 auto;
}

.deoCetiri{
  color: #780000;
  font-weight: 800;
  font-size: 25px;
}

.deoTri {
  text-decoration: line-through red;
  font-size: 18px;
}

.deoDva {
  font-weight: bold;
  font-size: 300;
}

#logo {
  height: 65px;
  position: relative;
  top: -19px;
  left: 108px;
}

#logo img {
  height: 65px;
}

.dodatne-info {
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
  padding: 3px;
  margin: 3px auto;
}

.dodatne-info p {
  margin: 0px 12px;
  font-size: 14px;
}

.dodatne-info p i {
  color: #780000;
}

#centralni-region {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url("slike/centralna_slika.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#wrapper {
  padding: 20px 15px;
  width: 100%;
}

#wrapper ul {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

#wrapper ul li {
  display: inline;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  border-right: 3px solid rgb(190, 85, 85);
  text-shadow: 2px 2px 7px rgb(190, 85, 85);
}

#wrapper ul li:last-child {
  border-right: none;
}

#wrapper ul li a {
  color: white;
  text-decoration: none;
  transition: color .3s linear;
}

#wrapper ul li a:hover {
  /* color: rgba(129, 22, 22, 0.8); */
  color: black;
  text-shadow: 3px 3px 15px rgb(190, 85, 85), -3px -4px 12px rgb(190, 85, 85);
}

#wrapper nav ul li {
  float: right;
}

nav {
  display: flex;
  height: 25px;
}

.kontejner {
  width: 100%;
  background-color: #000d1a;
 }

#center-block {
 margin: 0px auto;
 border-right: 3px double #2b2d42;
 border-left: 3px double #2b2d42;
 font-size: 20px;
 display: flex;
 justify-content: center;
 position: relative;
 top: -30px;
}

.info {
 border: 5px solid #780000 ;
 padding: 25px;
 border-radius: 20px 0px;
 margin: 4px; 
}
.leva {
 background-color: #fdf0d5;
 flex-basis: 25%;
}
.sredina {
  background-color:#fdf0d5 ;
  flex-basis: 25%;
}
.desna {
  background-color: #fdf0d5;
  flex-basis: 25%;
}

.heading3 {
  padding: 10px 0px;
  text-align: center;
  font-size: large;
}

.oNama, 
.trenaznaZona, 
.zenskaZona, 
.grupneSale {
  margin: 15px auto;
  text-align: center;
}

.dodatne-informacije {
  padding: 20px 0;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

/* MIDDLE REGION */
#middle-region {
  display: flex;
  margin: 20px 0px;
}

.picF4L-1 img {
  width:800px ;
}

.textF4L-1 {
  background-color: #080808;
  color: antiquewhite;
  height: 504px;
  text-align: center;
  padding: 90px;
  line-height: 22px;
  font-size: 16.5px;
  border-left: 2px solid #780000;
}

.textF4L-1 h3 {
  font-size: 27px;
  padding: 20px;
  border: 2px solid #780000;
  background-color: rgba(109, 105, 105, 0.44);
}

.textF4L-1 p {
  padding: 12px;
}

.amp {
  color:#780000 ;  
  font-size: larger;
}

/* Partneri i Programi */
.partners {
  text-align: center;
}

.partners img {
  width: 1024px;
}


/* Druga strana */
.crveni-naglasak{
  color:#780000 ;
}

.border-kutija {
  border-left: 2px solid #780000 ;
  border-right: 2px solid #780000 ;
  padding: 7px;
}

.naslov-treneri {
  text-align: center;
  margin: 25px 0;
  color:#780000;
  font-size: 50px;
  padding: 10px;
  background-color: #a9adab;
  text-shadow: 3px 3px 4px  antiquewhite;

}

.naslov-treneri i {
  color: #010105;
  font-size: 40px;
  margin: 0px 10px;
  padding: 10px;
}


.red {
 display: flexbox;
 display: flex;
 flex-wrap: wrap; 
 flex-wrap: wrap;
 padding: 0px 4px;
}

.kolona {
  flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 20px 0px;
}

.kolona img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.razmak {
  text-align: center;
  margin: 20px 0;
}

.razmak .broj {
  font-weight: 400;
  margin: 7px 0;
}

.paragraf {
  margin: 12px 0;
  font-size: 25px;
  font-weight: 600;
}

/* KONTAKT */
.kontakt-region {
  background-color:#780000 ;
  padding: 30px;
  border: 2px groove black;
  border-radius: 100px 250px;
  position: relative;
  margin-bottom: 27px;
}

.kontakt-region label {
  font-size: 18px;
  font-weight: 10px;
}

.kontakt-slika {
  margin: 0 auto;
}

.kontakt-slika img{
  width: 650px;
  margin: 7px auto;
  display: block;
  box-shadow: -10px 10px 15px #780000;
}

form{
  text-align: center;  
}

input{
  width: 25%;
  padding: 10px 5px;  
  margin-bottom: 15px;
  box-shadow: 3px 3px #6d6a6a;
}

textarea{
  width: 25%;
  padding: 10px 5px;
  margin-bottom: 15px;
  border: 2px solid black;
}

button{
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 20px;
 padding-right: 20px;
 background-color: black;
 color: white;
 font-size: 14px;
 border: 5px solid #464242 ;
 letter-spacing: 1px;
 border-radius: 15px 0px;
 margin-bottom: 15px;
 transition: color .4s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: 5px solid rgb(255, 0, 0,0.5);
  cursor: pointer;
}

iframe{
  width: 100%;
}

.o-meni {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

#autorSlika img {
  width: 300px;
  box-shadow: 5px 10px 8px #780000;
}

.opis {
 padding: 20px 0px;
 margin: auto 0 auto 70px;
 max-width: 450px;
 width: 100%;
 background-color: grey;
 outline: 10px double #780000 ;
}

.opis ul {
 text-align: center;
 list-style-type: none;
}

.opis ul li {
  margin-bottom: 10px;
  font-style: italic;
  color: white;
}
.opis li i {
  color: #780000;
}
.cenovnik-tabela h1 {
  margin: 30px 0 20px 0;
  text-align: center;
  font-size: 44px;
  line-height: 48px;
}

.cenovnik-tabela h2 {
 margin-bottom: 30px;
 text-align: center;
 font-size: 32px;
 line-height: 36px;
}

.cenovnik-tabela .glavna-kolona {
  font-weight: bold;
}

table {
 border-collapse: collapse;
 width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

th {
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cenovik-ponuda {
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
  background-color: #bbbbbb;
  color: black;
}

.cenovik-ponuda h3 {
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 38px;
}

.cenovik-ponuda p {
  margin-bottom: 15px;
}

.cenovik-ponuda ul {
  display: inline-block;
  text-align: left;
  font-size: 15px;
}

.crvena-boja {
  color: rgb(190, 85, 85);
}

.cenovnik2 {
  margin: 30px 0 50px 0;
}

.cenovnik2 th i {
  color: rgb(190, 85, 85);
}

.cenovnik2 th {
  padding-left: 100px;
  text-align: left;
}